#introduction {
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 2em;
  padding-bottom: 1em;

  #contact-me-toggle-button {
    display: inline-block;
  }

  &.blocker-disabled {
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 2em;
    padding-bottom: 1em;

    #contact-me-toggle-button {
      display: inline-block;
    }
  }

  &.blocker-enabled {
    height: 0;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    padding-top: 0;
    padding-bottom: 0;

    #contact-me-toggle-button {
      display: none;
    }
  }
}

.page-blocker {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  &.blocker-disabled {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &.blocker-enabled {
    display: block;
  }
}

form#contact-me-form {
  z-index: 2000;

  position: fixed;
  top: 100px;
  right: 100px;
  bottom: 100px;
  left: 100px;

  font-size: 1.5em;
  text-align: left;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);

  .close {
    position: static;
    float: right;
    width: 1.5em;
  }

  input, textarea {
    display: block;
    margin-bottom: 20px;
    required: true;
    width: 200px;
  }

  textarea {
    resize: vertical;
  }

  &.contact-me-closed {
    display: none;
  }

  &.contact-me-opened {
    display: block;
  }
}
