.page-blocker {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    &.blocker-disabled {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    &.blocker-enabled {
        display: block;
    }

}

#introduction {
    height: 100px;
}

form#contact-me-form {
    z-index: 2000;

    position: fixed;
    top: 100px;
    right: 100px;
    bottom: 100px;
    left: 100px;

    background-color: white;

    button.close {
        position: fixed;
        right: 100px;
        top: 100px;
    }

    input, textarea {
        display: block;
        margin-bottom: 20px;
        required: true;
        width: 200px;
    }

    textarea {
        resize: vertical;
    }

    &.contact-me-closed {
        display: none;
    }

    &.contact-me-opened {
        display: block;
    }
}
