body {
  margin: 0;
  font-size: 40px;

  #image {
    width: 100%;
    background-image: url("./main.jpg");
    background-size: cover;
    background-position: center;
    height: 1500px;

    #introduction {
      width: 100%;
      text-align: center;
    }
  }

  #specialties {
    height: 400px;
    text-align: left;

    ul {
      padding: 0px;
    }

    li {
      display: block;
    }
  }

  .experience {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;

    .responsibility {
      display: flex;
      flex-flow: wrap;
      flex-direction: row;
      width: 100%;

      .icons {
        width: 20%;
        display: flex;
        flex-flow: wrap;
        flex-direction: row;

        img {
          width: 4em;
          height: 4em;

          cursor: pointer;
        }

        .icon {
          padding: 10px;
        }
      }

      .description {
        width: 80%;
        text-align: justify;

        a {
          color: blue;
          cursor: pointer;
          text-decoration: none;

          &:visited, &:hover, &:focus, &:active {
            color: blue;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
    }
  }

  input[type="button"] {
    background-color: white;
    border-color: white;
    border-width: 0;
    margin: 0;
    padding: 0.75em;
    color: black;

    &:active {
      color: black;
    }
  }
}

// Mobile
@media (min-width: 0px) {
  body {
    font-size: 24px;

    .experience {
      .responsibility {
        .icons {
          width: 100%;

          img {
            width: 2em;
            height: 2em;
          }
        }

        .description {
          width: 100%;
        }
      }
    }
  }
}

// Tablet
@media (min-width: 376px) {
  body {
    font-size: 24px;

    .experience {
      .responsibility {
        .icons {
          width: 40%;

          img {
            width: 3em;
            height: 3em;
          }
        }

        .description {
          width: 60%;
        }
      }
    }
  }
}

// Desktop
@media (min-width: 768px) {
  body {
    font-size: 16px;

    .experience {
      .responsibility {
        .icons {
          width: 20%;

          img {
            width: 3em;
            height: 3em;
          }
        }

        .description {
          width: 80%;
        }
      }
    }
  }
}
