@mixin work($color: aqua) {
  padding-left: 1em;
  border-left: $color;
  border-left-style: solid;
  border-left-width: 0.5em;

  .heading {
    display: flex;
    flex-direction: column;

    .position {
      width: 100%;
      text-align: left;
      margin-top: 0em;
    }

    .at {
      width: 100%;
      text-align: left;
      margin-top: 0em;
      font-size: 1em;
    }
  }

  ol {
    list-style-type: circle;
    color: $color;

    span {
      color: black;
    }
  }
}

// Desktop
body {
  margin: 0;
  font-size: 16px;

  #image {
    width: 100%;
    background-image: url("./main.jpg");
    background-size: cover;
    background-position: center;
    height: 1500px;

    #introduction {
      width: 100%;
      text-align: center;
    }
  }

  .work {
    margin: 3em 1em 3em 1em;

    &#thomson-reuters-digital {
      @include work(blueviolet);
    }

    &#thomson-reuters-finance-and-risk {
      @include work(green);
    }

    &#danofer-com {
      @include work(turquoise);
    }

    &#danofer-com {
      @include work(darkorange);
    }

    &#financier {
      @include work(#328636);
    }

    &#trike-apps {
      @include work(#24afca);
    }

    .experience {
      display: flex;
      flex-flow: wrap;
      flex-direction: column;

      .responsibility {
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        width: 100%;

        .icons {
          width: 20%;
          display: flex;
          flex-flow: wrap;
          flex-direction: row;

          img {
            width: 3em;
            height: 3em;

            cursor: pointer;
          }

          .icon {
            padding: 10px;
          }
        }

        .description {
          width: 80%;
          text-align: justify;

          a {
            color: blue;
            cursor: pointer;
            text-decoration: none;

            &:visited, &:hover, &:focus, &:active {
              color: blue;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }
    }

    input[type="button"] {
      background-color: white;
      border-color: white;
      border-width: 0;
      margin: 0;
      padding: 0.75em;
      color: black;

      &:active {
        color: black;
      }
    }
  }
}

// Tablet
@media (max-width: 800px) {
  body {
    font-size: 20px;

    .work {
      .experience {
        .responsibility {
          .icons {
            width: 40%;

            img {
              width: 3em;
              height: 3em;
            }
          }

          .description {
            width: 60%;
          }
        }
      }
    }
  }
}

// Mobile
@media (max-width: 375px) {
  body {
    font-size: 24px;

    .work {
      .experience {
        .responsibility {
          .icons {
            width: 100%;

            img {
              width: 2em;
              height: 2em;
            }
          }

          .description {
            width: 100%;
          }
        }
      }
    }
  }
}
