<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dan Ofer</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tag_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag("js", new Date());

            gtag("config", "{{ google_tag_id }}");
        </script>
    </head>
    <body>
        <div class="page-blocker blocker-disabled"></div>

        <div id="image">
            <div id="introduction">
                <h1>Dan Ofer</h1>

                <p id="main">Software Developer Extraordinaire</p>
                <div class="contact">
                    <div class="contact-me-button" id="contact-me-toggle-button">Contact Me</div>
                </div>
            </div>

            <form id="contact-me-form" class="contact-me-closed">
                <img class="close" src="./icons/close.svg" alt="close" />
                <label id="name" for="name">Your name</label>
                <input id="name" type="text" required="true" tabindex="1"></input>

                <label id="email-address" for="email-address">Your email address</label>
                <input id="email-address" type="text" required="true" tabindex="2"></input>

                <label id="message" for="message">What do you want to tell me?</label>
                <textarea id="message" type="textarea" required="true" rows="5" tabindex="3"></textarea>

                <div class="contact-me-button" id="contact-me-submit-button" tabindex="4">Submit</div>
            </form>
        </div>

        <div class="work" id="thomson-reuters-digital">
            <div class="heading">
                <h2 class="position">Thomson Reuters - Senior Software Engineer</h2>
                <h2 class="at">January 2019 – Present</h2>
            </div>
            <p>
                I am a principal contributor who develops and deploys Thomson Reuters’ marketing websites on the Adobe Experience Manager (AEM) platform. Accomplishments include
            </p>
            <div class="experience">
                <h3>Adobe Experience Manager</h3>
                <div class="responsibility aem">
                    <div class="icons">
                        <img class="icon experience-manager" src="./icons/experience-manager.svg" />
                        <img class="icon java" src="./icons/java.svg">
                        <img class="icon jquery" src="./icons/jquery.svg">
                        <img class="icon typescript" src="./icons/typescript.svg">
                        <img class="icon sass"src="./icons/sass.svg">
                        <img class="icon react" src="./icons/react.svg">
                        <img class="icon github" src="./icons/github.svg">
                    </div>
                    <div class="description">
                        <ol>
                            <li>
                                <span>
                                    Consulted on the architecture of new features together with project manager, content authors, and third-party vendors
                                </span>
                            </li>
                            <li>
                                <span>
                                    Developed new features on Adobe Experience Manager
                                </span>
                            </li>
                            <li>
                                <span>
                                    Oversaw the development of new webpages such as <a href="https://tax.thomsonreuters.com/us/en/onvio">Onvio</a> and <a href="https://tax.thomsonreuters.com/en/onesource">ONESOURCE</a>
                                </span>
                            </li>
                            <li>
                                <span>
                                    Transitioned the <a href="https://legal.thomsonreuters.com">Thomson Reuters Legal page</a> to use <a href="https://stenciljs.com">Stencil Web Components</a>
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>

                <h3>Installation</h3>
                <div class="responsibility installation">
                    <div class="icons">
                        <img class="icon experience-manager" src="./icons/experience-manager.svg">
                        <img class="icon docker" src="./icons/docker-2.svg">
                        <img class="icon bash" src="./icons/code-2.svg">
                    </div>
                    <div class="description">
                        <ol>
                            <li>
                                <span>
                                    Created a GitHub repository for creating Docker images consisting of an AEM 6.5 installation with the latest packages
                                </span>
                            </li>
                            <li>
                                <span>
                                    Placed the latest AEM packages (application and content) in an AWS S3 Bucket
                                </span>
                            </li>
                            <li>
                                <span>
                                    Wrote <a href="https://github.com/features/actions">GitHub Action</a> pipelines and <a href="https://www.gnu.org/software/bash/">Bash scripts</a> to automatically update the Docker image and deploy it to JFrog Artifactory
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>

                <h3>Documentation</h3>
                <div class="responsibility documentation">
                    <div class="icons">
                        <img class="icon github" src="./icons/github.svg">
                        <img class="icon confluence" src="./icons/confluence.svg">
                    </div>
                    <div class="description">
                        <ol>
                            <li>
                                <span>
                                    Wrote documentation in both GitHub (for software developers) and on Confluence (for managers, content authors, and third-party vendors.)
                                </span>
                            </li>
                            <li>
                                <span>
                                    Set up coding guidelines
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>

                <h3>Continuous Integration / Continuous Deployment</h3>
                <div class="responsibility ci-cd">
                    <div class="icons">
                        <img class="icon github" src="./icons/github.svg">
                        <img class="icon experience-manager" src="./icons/experience-manager.svg">
                        <img class="icon bash" src="./icons/code-2.svg">
                    </div>
                    <div class="description">
                        <ol>
                            <li>
                                <span>
                                    Configured <a href="https://github.com/features/actions">GitHub Actions</a> with <a href="https://www.gnu.org/software/bash/">Bash scripts</a> to automate deployments to our Quality Assurance and Pre-production environments
                                </span>
                            </li>
                            <li>
                                <span>
                                    Set up migration scripts to automate migration of new frontend asset versions
                                </span>
                            </li>
                            <li>
                                <span>
                                    Configured our Adobe Experience Manager platform to deploy to Adobe Managed Services
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>

                <h3>PayOnline</h3>
                <div class="responsibility payonline">
                    <div class="icons">
                        <img class="icon asp" src="./icons/asp.svg">
                        <img class="icon paypal" src="./icons/paypal.svg">
                        <img class="icon sql-server" src="./icons/sql.svg">
                    </div>
                    <div class="description">
                        <ol>
                            <li>
                                <span>
                                    Bug fixes on Thomson Reuters' <a href="https://support.checkpoint.thomsonreuters.com/billing/invoicepayment.asp">PayOnline system</a>
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="work" id="thomson-reuters-finance-and-risk">
            <div class="heading">
                <h2 class="position">Thomson Reuters - Senior Software Engineer</h2>
                <h2 class="at">August 2017 – January 2019</h2>
            </div>
            <p>
                Thomson Reuters operates a proprietary Software-as-a-Service (SaaS) platform for running their customers' web applications.
            </p>
            <div class="experience">
                <h3>Development</h3>
                <div class="responsibility development">
                    <div class="icons">
                        <img class="icon csharp" src="./icons/csharp.svg">
                        <img class="icon java" src="./icons/java.svg">
                        <img class="icon nodejs" src="./icons/node-js.svg">
                    </div>
                    <div class="description">
                        <ol>
                            <li>
                                <span>
                                    Responsible for adding new web stacks (Java 8 and Node.js 6)
                                </span>
                            </li>
                            <li>
                                <span>
                                    Improved the stability of the system by creating a new automated testing framework
                                </span>
                            </li>
                            <li>
                                <span>
                                    Added a feature to target users to the server closest to their location
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>

                <h3>Deployment</h3>
                <div class="responsibility deployments">
                    <div class="icons">
                        <img class="icon gitlab" src="./icons/gitlab.svg">
                    </div>
                    <div class="description">
                        <ol>
                            <li>
                                <span>
                                    Used GitLab to maintain our codebase
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="work" id="danofer-com">
            <div class="heading">
                <h2 class="position">Personal website</h2>
                <h2 class="at">July 2021 – Present</h2>
            </div>
            <div class="experience">
                <h3>Development</h3>
                <div class="responsibility development">
                    <div class="icons">
                        <img class="icon csharp" src="./icons/csharp.svg">
                        <img class="icon java" src="./icons/java.svg">
                        <img class="icon nodejs" src="./icons/node-js.svg">
                    </div>
                    <div class="description">
                        <ol>
                            <li>
                                <span>
                                    Built using HTML, Sass, and TypeScript
                                </span>
                            </li>
                            <li>
                                <span>
                                    No runtime (such as AngularJS and React). I want to avoid a runtime performance penalty
                                </span>
                            <li>
                                <span>
                                    No need to cache files because static assets are generated by Webpack, e.g, HTML, CSS, and JavaScript files
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>

                <h3>Microservice Architecture</h3>
                <div class="responsibility architecture">
                    <div class="icons">
                        <img class="icon csharp" src="./icons/csharp.svg">
                        <img class="icon docker" src="./icons/docker-2.svg">
                        <img class="icon bash" src="./icons/code-2.svg">
                        <img class="icon sendgrid" src="./icons/sendgrid.svg">
                        <img class="icon digitalocean" src="./icons/digitalocean.svg">
                    </div>
                    <div class="description">
                        <ol>
                            <li>
                                <span>
                                    Configured <a href="https://github.com/features/actions">GitHub Actions</a> with <a href="https://www.gnu.org/software/bash/">Bash scripts</a> to automate deployments to a Production environment hosted on DigitalOcean
                                </span>
                            </li>
                            <li>
                                <span>
                                    Configured a section where users can contact me via email, using <a href="https://en.wikipedia.org/wiki/SendGrid">SendGrid</a> as the provider, and <a href="https://en.wikipedia.org/wiki/ReCAPTCHA">Google reCAPTCHA</a> to protect against bots.
                                </span>
                            </li>
                            <li>
                                <span>
                                    Built a .NET Core 5.0 application to verify whether user is human and not a bot and send emails using SendGrid
                                </span>
                            </li>
                            <li>
                                <span>
                                    Used GitHub Secrets to store Google reCAPTCHA and SendGrid secret values
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>

                <h3>Continuous Integration / Continuous Deployment</h3>
                <div class="responsibility ci-cd">
                    <div class="icons">
                        <img class="icon github" src="./icons/github.svg">
                        <img class="icon bash" src="./icons/code-2.svg">
                    </div>
                    <div class="description">
                        <ol>
                            <li>
                                <span>
                                    Configured <a href="https://github.com/features/actions">GitHub Actions</a> with <a href="https://www.gnu.org/software/bash/">Bash scripts</a> to automate deployments to our Quality Assurance and Pre-production environments
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="work" id="financier">
            <div class="heading">
                <h2 class="position">Financier</h2>
                <h2 class="at">December 2018 – Present</h2>
            </div>
            <p>
                Software as a Service that analyses income versus expenses. Taking into account multiple variables, it can predict its users future financial situation, giving them insights whether they should purchase a home today with a smaller downpayment or in the future with a larger downpayment
            </p>
            <div class="experience">
                <h3>Development</h3>
                <div class="responsibility development">
                    <div class="icons">
                        <img class="icon csharp" src="./icons/csharp.svg">
                        <img class="icon typescript" src="./icons/typescript.svg">
                        <img class="icon react" src="./icons/react.svg">
                        <img class="icon sass" src="./icons/sass.svg">
                        <img class="icon graphql" src="./icons/graphql.svg">
                        <img class="icon ruby" src="./icons/ruby.svg">
                        <img class="icon postgresql" src="./icons/postgresql.svg">
                    </div>
                    <div class="description">
                        <ol>
                            <li>
                                <span>
                                    A C# 9.0 (.NET 5.0 application) ingests the financial into a Postgresql database
                                </span>
                            </li>
                            <li>
                                <span>
                                    Machine-learning software understands the nature of the financial data
                                </span>
                            </li>
                            <li>
                                <span>
                                    A Ruby application retrieves the financial data into predefined financial statement files
                                </span>
                            </li>
                            <li>
                                <span>
                                    A C# 9.0 ASP.NET Core application exposes endpoints to retrieve the financial application
                                </span>
                            </li>
                            <li>
                                <span>
                                    A web application (written in TypeScript using React components) to display the financial analysis
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="work" id="trike-apps">
            <div class="heading">
                <h2 class="position">Trike Apps</h2>
                <h2 class="at">January 2017 – July 2017</h2>
            </div>
            <p>
                Trike Apps produces Bellroy's e-commerce platform to sell wallets and carry products
            </p>
            <div class="experience">
                <h3>Development</h3>
                <div class="responsibility development">
                    <div class="icons">
                        <img class="icon javascript" src="./icons/javascript.svg">
                        <img class="icon ruby" src="./icons/ruby.svg">
                        <img class="icon postgresql" src="./icons/postgresql.svg">
                    </div>
                    <div class="description">
                        <ol>
                            <li>
                                <span>
                                    Implemented a smarter caching strategy
                                </span>
                            </li>
                            <li>
                                <span>
                                    Ensured that slower content loaded asynchronously
                                </span>
                            </li>
                            <li>
                                <span>
                                    Used Imgix to reduce image sizes
                                </span>
                            </li>
                            <li>
                                <span>
                                    Extended Bellroy’s templates (written in Liquid) to allow designers to perform A/B testing
                                </span>
                            </li>
                            <li>
                                <span>
                                    Implemented an integration with PayPal, allowing users to pay using PayPal Express Checkout without needing to leave Bellroy’s website
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contains both JavaScript and CSS -->
        <script src="dist/main.js"></script>
    </body>
</html>

