// Place all the styles related to the case_studies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.case-studies {
  .logo {
    img {
      height: 100px;
    }
  }
  .technologies {
    img {
      height: 200px;
      margin: 20px;
    }
  }
}
